@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=ZCOOL+XiaoWei&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    color: white;
}

.bgg {
    background-image: url("./dc.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.divbar-1 {
    width: 310px;
    height: 100%;
}

.divbar-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 310px);

    .Chinese {
        font-family: 'ZCOOL XiaoWei', serif;
    }

    h1 {
        color: #5C71B9;
        margin: 3rem 0;
    }

    h2 {
        margin: 0.5rem;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
            width: 60%;
        }
    }
}

@media (max-width: 800px) {
    .bg {
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }

    .divbar-1 {
        display: none;
    }

    .divbar-2 {
        width: 100%;

        a {
            img {
                width: 40%;
            }
        }
    }
}

@media (max-width: 400px) {
    .divbar-2 {
        h2 {
            font-size: 1rem;
        }
    }
}